<!DOCTYPE html>
<html>
<head>
    
    <title> Chack Printing </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/print.css">
    <script> alert('Make sure printer setings are set to margins none') </script>
</head>
<Body>
  <div id="outside" class="outside1">
    <div id="date" class="date"> {{date}} </div>
    <div id="payTo" class="payTo"> {{payee}} </div>
    <div id="amountWrith" class="amountWrith"> {{amountWriten}}*** </div>
    <div id="amount" class="amount"> {{amouont}}*** </div>
    <div id="memo" class="memo"> {{memo}} </div>
  </div>
    <script src="js/print.js"> </script>
</Body>
</html>